<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.traffic.ldms.parking.ParkingMapper">
	<insert id="insert" parameterType="org.traffic.ldms.parking.Parking">
		INSERT INTO PARKING
		VALUES (#{locationNo}, #{ip})
	</insert>
	
	<select id = "select" parameterType="string"  resultType ="org.traffic.ldms.parking.Parking">
		SELECT LOCATION_NO, IP	
		FROM PARKING
		WHERE LOCATION_NO = #{locationNo}
	</select>
</mapper>